@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition:  0.25s;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#button input[type="radio"] {
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}

#button input[type="radio"]:checked + label {
  background: #20b8be;
  color: #fff;
  border-radius: 4px;
}


#button input[type="radio"]:hover + label {
  border-color: #1d37cc;
  border-radius: 4px;
}
